
  .node {
    font: 14px sans-serif;
  }
  
  .service{
    fill: green;
    
  }

  .lib{
    fill: blue;
    
  }

  .db{
    fill: brown;
  }
  
  .link {
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
  }