
.block{
    margin:4px;
    padding:1px; 
    border:solid 2px transparent;
    background-color:white; 
    width:100%;
    min-width: 100px;
    position:relative;
    border-radius: 4px;
}

.block:hover {
    cursor: move;
    cursor:grab;
}

.drag-target-border {
    border: dashed 2px gray;
}
